.sidebar-content {
  margin-left: 3rem;
}

.brand-name {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #090f31;
}

.red-brand-name {
  color: #f7542e;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1rem 0;
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #9e9e9e;
}

.selected {
  color: #090f31;
}
