.app {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 50px;
  grid-template-areas:
    "sidebar header header"
    "sidebar main-content main-content"
    "sidebar main-content main-content"
    "sidebar footer footer";
}

/* layout styles */
.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main-content {
  grid-area: main-content;
}

.footer {
  grid-area: footer;
}

/* display styles */
.item {
  border: solid red 4px;

  /* center content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-left: 10vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #4f4f4f;
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  background: #fafbfd;
}

.main-content {
  margin-left: 10vw;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-left: 10vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #c0bfbf;
}

a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #c0bfbf;
}
